* {
  box-sizing: border-box;
}

html {
  background: gray;
}

section {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: space-between;
  background: black;
  width: 330px;
  height: 330px;
}

.tile {
  background: white;
  height: 100px;
  width: 100px;
}