* {
  box-sizing: border-box;
}

html {
  background: gray;
}

section {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  background: black;
  width: 340px;
  height: 340px;
}

.tile {
  background: white;
  font-size: 100px;
  text-align: center;
  vertical-align: middle;
  height: 100px;
  width: 100px;
}

#btnReset {
  visibility: collapse;
  background: white;
  border: 5px solid black;
  border-radius: 5px;
  text-align: center;
  width: 100px;
}